
<div class="header">
  <h1>Jesse, We Have to Cook</h1>
  <h2>Walter White's Recipes</h2>
</div>

<div>
<h2><a href="/recipes">Enter the Site</a></h2>
</div>

<div id="recipe_preview"></div>
<script src="randomrecipe.js"></script>
