/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .header {
 background: url("http://7-themes.com/data_images/out/14/6815087-walter-white.jpg") no-repeat center;
 background-size: cover;
 padding: 50px;
 padding-right: 100px;

 color: #ed002b;
 text-shadow: 1px 1px black;

 // #CC0000;
 max-width: 100%;
 min-height: 350px;
 text-align: right;
 }
 .header h1 {
   font-size: 32px;
 }
 .header h2{
   font-size: 24px;
 }
 td{
   width: 200px;
   text-align: center;
 }

 #recipe_preview{
   text-align:center;
 }

 #recipe_preview img {
   width: 300px;
 }
